---
import Layout from '../layouts/Layout.astro'

import { getCollection } from 'astro:content'

const posts = await getCollection('posts')
const sortedPosts = posts.sort((a, b) => {
	return (
		new Date(b.data.publishedAt).valueOf() -
		new Date(a.data.publishedAt).valueOf()
	)
})
---

<Layout
	title="Blog"
	navigationHrefs={{
		about: '/#about',
		projects: '/#projects',
		contact: '/#contact',
	}}
>
	<main class="max-w-5xl flex-1 w-full px-4 py-8 mx-auto md:px-8 md:py-8">
		<section>
			<h1 class="text-2xl font-bold mb-8">Blog</h1>
			{
				sortedPosts.map((post) => (
					<article class="mb-10">
						<h2 transition:name={`post-title-${post.data.slug}`}>
							<a
								class="text-purple-900 text-3xl font-semibold hover:underline"
								href={`/blog/${post.data.slug}`}
							>
								{post.data.title}
							</a>
						</h2>
						<time
							class="block text-base mb-2 text-gray-500"
							transition:name={`post-date-${post.data.slug}`}
						>
							{new Date(post.data.publishedAt).toLocaleDateString('en-US', {
								year: 'numeric',
								month: 'numeric',
								day: 'numeric',
							})}
						</time>
						<p>{post.data.description}</p>
					</article>
				))
			}
		</section>
	</main>
</Layout>
