---
interface Props {
	name: string;
	description: string;
	thumbnailPath: string;
	demoUrl: string;
	sourceUrl: string;
	altText: string;
}

const {
	name,
	description,
	thumbnailPath,
	demoUrl,
	sourceUrl,
	altText
} = Astro.props
---

<div class="flex flex-col md:flex-row mb-8">
	<div class="p-8 pl-0">
		<img
			class="rounded shadow-xl"
			src={thumbnailPath}
			style="max-width: 350px;"
			alt={altText}
		/>
	</div>
	<div class="row-span-2 p-8 pl-0">
		<h3 class="text-2xl mb-4">{name}</h3>
		<p class="mb-8">{description}</p>

		<a
			class="inline-block rounded-sm py-2 px-4 bg-purple-800 text-white hover:bg-purple-900"
			href={demoUrl}
		>
			Demo
		</a>
		<a
			class="inline-block rounded-sm py-2 px-4 bg-gray-300 ml-2 hover:bg-gray-200"
			href={sourceUrl}
		>
			Source
		</a>
	</div>
</div>
