---
import { ViewTransitions } from 'astro:transitions'
import Navigation from '../components/Navigation.astro'
import Analytics from '../components/Analytics.astro'

interface Props {
	title?: string | null
	pubDate: string | null
	heroImage?: string | null
	description?: string | null
	socialImage?: string | null
	children: any
}

const { title, pubDate, heroImage, description, socialImage } = Astro.props

const date = pubDate
	? new Date(pubDate).toLocaleDateString('en-US', {
			year: 'numeric',
			month: 'numeric',
			day: 'numeric',
		})
	: null

const navigationHrefs = {
	about: '/#about',
	projects: '/#projects',
	contact: '/#contact',
}
const currentUrl = new URL(Astro.url.pathname, Astro.site).href
---

<!doctype html>
<html lang="en">
	<head>
		<ViewTransitions />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>
			{
				`${title} | Chris Tse - Coder, Gamer, Keyboard & PC Enthusiast, Anime Fan`
			}
		</title>
		<meta name="description" content={description} />
		<meta name="author" content="Chris Tse" />
		<meta
			name="keywords"
			content="Chris Tse, frontend engineer, software engineer, web developer, javascript, typescript, react, node.js, python, game developer, anime fan, keyboard enthusiast, pc enthusiast"
		/>
		<!-- Open Graph Meta Tags -->
		<meta property="og:title" content={`${title} | Chris Tse`} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="article" />
		<meta property="og:url" content={currentUrl} />
		{socialImage && <meta property="og:image" content={socialImage} />}
		<meta property="og:site_name" content="Chris Tse" />
		{
			socialImage && (
				<>
					<meta property="og:image" content={socialImage} />
					<meta
						property="og:image:alt"
						content={`${title} | Chris Tse - Coder, Gamer, Keyboard & PC Enthusiast, Anime Fan`}
					/>
				</>
			)
		}
		<meta property="article:author" content="Chris Tse" />
		<meta property="article:published_time" content={date} />

		<!-- Twitter Card Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={`${title} | Chris Tse`} />
		<meta name="twitter:description" content={description} />
		{
			socialImage && (
				<>
					<meta name="twitter:image" content={socialImage} />
					<meta name="twitter:image:alt" content={`${title} | Chris Tse`} />
				</>
			)
		}
		<meta name="twitter:creator" content="@ChrisMTse" />
		<meta name="twitter:site" content="@ChrisMTse" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"
			rel="stylesheet"
		/>
		<Analytics />
	</head>
	<body class="min-h-screen">
		<Navigation hrefs={navigationHrefs} />

		<!-- Title Section with Gradient Background -->
		<section
			class="bg-gradient-to-br from-indigo-50 via-purple-50 to-pink-50 pt-16 pb-12"
		>
			<div class="max-w-5xl mx-auto px-4 md:px-8">
				{
					heroImage && (
						<img
							src={heroImage}
							alt={title}
							class="w-full h-64 object-cover rounded-lg mb-8"
						/>
					)
				}
				<h1
					transition:name={`post-title-${Astro.params.slug}`}
					class="text-5xl font-bold mb-4 text-gray-900 text-center"
				>
					{title}
				</h1>

				<time
					class="block text-xl text-gray-600 text-center"
					transition:name={`post-date-${Astro.params.slug}`}
				>
					{date}
				</time>
			</div>
		</section>

		<!-- Content Section -->
		<div
			class="flex flex-col max-w-5xl mx-auto font-sans text-gray-800 text-lg"
		>
			<main
				class="flex-1 w-full px-4 mx-auto md:px-8 py-8 prose prose-lg prose-headings:font-semibold prose-p:font-light"
			>
				<slot />
			</main>
		</div>
	</body>
</html>
<!-- <style is:global>
	:root {
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			#da62c4 30%,
			white 60%
		);
		box-sizing: border-box;
	}

	html {
		font-family: system-ui, sans-serif;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	h2 {
		@apply text-2xl mt-8 font-bold mb-4;
	}

	h3 {
		@apply text-xl mt-8 font-bold mb-4;
	}

	h4 {
		@apply text-lg mt-8 font-bold mb-4;
	}

	p {
		@apply leading-loose mb-4;

		& > code {
			@apply bg-slate-100 rounded p-1;
		}
	}

	blockquote {
		@apply bg-slate-100 border-l-2 border-l-slate-300 pl-3 italic my-3 py-2 px-2;

		& > p {
			@apply m-0;
		}
	}

	figure {

		& > img {
			@apply mx-auto;
		}

		& > figcaption {
			@apply text-center text-gray-500 text-base mt-2;
		}
	}

	.astro-code {
		@apply p-4 rounded-md mb-4;
	}
</style> -->

<style is:global>
	figure {
		& > img {
			@apply mx-auto;
		}

		& > figcaption {
			@apply text-center text-gray-500 text-base mt-2;
		}
	}
</style>
