---
import { ViewTransitions } from 'astro:transitions'
import Navigation from '../components/Navigation.astro'
import Analytics from '../components/Analytics.astro'

interface Props {
	title?: string | null
	pubDate?: string | null
	heroImage?: string | null
	description?: string | null
	children: any
}

const { title, pubDate, heroImage, description } = Astro.props

const date = pubDate
	? new Date(pubDate).toLocaleDateString('en-US', {
			year: 'numeric',
			month: 'numeric',
			day: 'numeric',
		})
	: null

const navigationHrefs = {
	about: '/#about',
	projects: '/#projects',
	contact: '/#contact',
}
---

<!doctype html>
<html lang="en">
	<head>
		<ViewTransitions />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>
			{
				`${title} | Chris Tse - Coder, Gamer, Keyboard & PC Enthusiast, Anime Fan`
			}
		</title>
		<link rel="shortcut icon" href="/favicon.ico" />
		<meta name="description" content={description} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<Analytics />
	</head>
	<body class="min-h-screen">
		<Navigation hrefs={navigationHrefs} />
		<div
			class="flex flex-col max-w-3xl mx-auto font-sans text-gray-800 text-lg"
		>
			<main class="flex-1 w-full px-4 mx-auto md:px-8 md:py-4 prose prose-lg">
				{
					heroImage && (
						<img
							src={heroImage}
							alt={title}
							class="w-full h-64 object-cover rounded-lg mb-8"
						/>
					)
				}
				<h1
					transition:name={`post-title-${Astro.params.slug}`}
					class="text-3xl font-bold mb-4"
				>
					{title}
				</h1>
				{
					date && (
						<p
							class="text-base mb-2 text-gray-500"
							transition:name={`post-date-${Astro.params.slug}`}
						>
							{date}
						</p>
					)
				}
				<slot />
			</main>
		</div>
	</body>
</html>
<!-- <style is:global>
	:root {
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			#da62c4 30%,
			white 60%
		);
		box-sizing: border-box;
	}

	html {
		font-family: system-ui, sans-serif;
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	h2 {
		@apply text-2xl mt-8 font-bold mb-4;
	}

	h3 {
		@apply text-xl mt-8 font-bold mb-4;
	}

	h4 {
		@apply text-lg mt-8 font-bold mb-4;
	}

	p {
		@apply leading-loose mb-4;

		& > code {
			@apply bg-slate-100 rounded p-1;
		}
	}

	blockquote {
		@apply bg-slate-100 border-l-2 border-l-slate-300 pl-3 italic my-3 py-2 px-2;

		& > p {
			@apply m-0;
		}
	}

	figure {

		& > img {
			@apply mx-auto;
		}

		& > figcaption {
			@apply text-center text-gray-500 text-base mt-2;
		}
	}

	.astro-code {
		@apply p-4 rounded-md mb-4;
	}
</style> -->

<style is:global>
	figure {
		& > img {
			@apply mx-auto;
		}

		& > figcaption {
			@apply text-center text-gray-500 text-base mt-2;
		}
	}
</style>
