---
import { ViewTransitions } from 'astro:transitions'
import Analytics from '../components/Analytics.astro'
import Navigation from '../components/Navigation.astro'

export interface Props {
	title: string
	description?: string
	canonical?: string
	navigationHrefs?: {
		about?: string
		projects?: string
		contact?: string
	}
}

const {
	title,
	description = 'Chris Tse is a frontend engineer, performance optimization specialist, and PC & mechanical keyboard enthusiast who likes to build stuff for the web.',
	canonical,
	navigationHrefs = {},
} = Astro.props
const resolvedCanonical =
	canonical ||
	(Astro.site && Astro.url ? `${Astro.site}${Astro.url.pathname}` : undefined)
---

<!doctype html>
<html lang="en">
	<head>
		<ViewTransitions />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>
			{
				`${title} | Chris Tse - Coder, Gamer, Keyboard & PC Enthusiast, Anime Fan`
			}
		</title>
		<link rel="shortcut icon" href="/favicon.ico" />
		<meta name="description" content={description} />
		{resolvedCanonical && <link rel="canonical" href={resolvedCanonical} />}
		<link rel="sitemap" href="/sitemap-index.xml" />
		<Analytics />
	</head>
	<body class="min-h-screen">
		<Navigation hrefs={navigationHrefs} />
		<slot />
	</body>
</html>

<style>
	:global(html) {
		scroll-behavior: smooth;
	}

	@media (prefers-reduced-motion: reduce) {
		:global(html) {
			scroll-behavior: auto;
		}
	}
</style>
